@import url('https://fonts.google.com/css?family=Montserrat:300,400,700&display=swap');
*{
padding: 0;
margin: 0;
box-sizing: border-box;
}
html{
font-size: 10px;
font-family: 'Montserrat', sans-serif ;
}
a{
    text-decoration: none;
}
.container{
min-height: 100vh;
width: 100%;
display: flex;
align-items: center;
justify-content: center;
}
/* Header Section*/
#header .menu{
color: red;
background-color: white;



}




/* End Header Section*/
/* Hero section */
#hero{
background-image: url(img/banner\ 14.png);
background-size: cover;
background-position: top center;
position: relative;
z-index: 1;

}
#hero::after{
content: '';    
position: absolute;
left: 0;
top: 0;
height: 100%;
width: 100%;
background-color: black;
opacity: .5;
z-index: -1;

}
#hero .hero{
max-width: 1200px;
margin: 0 auto;
padding: 0 50px;
justify-content: flex-start;
}
#hero h1{
display: block;
width: fit-content;
font-size: 4rem;
position: relative;
color: transparent;
animation: text_reveal .5s ease forwards;
animation-delay: 1.5s;

}
#hero h1:nth-child(1){
    animation-delay: 1.5s;
}
#hero h1:nth-child(2){
    animation-delay: 2.5s;
}
#hero h1:nth-child(3){
    
    animation-delay: 3.5s;
    
}
#hero h1 span{
position: absolute;
top: 0%;
left: 0%;
height: 100%;
width: 0;
background-color: crimson;
animation: text_reveal_box  1s ease;
animation-delay: 1s;


}
#hero h1:nth-child(1) span{
animation-delay: 1s;
}
#hero h1:nth-child(2) span{
    animation-delay: 2s;
    }
    #hero h1:nth-child(3) span{
        animation-delay: 3s;
        }
#hero .cta{
display: inline-block;
padding: 10px 30px;
color: crimson;
background-color: transparent;
border: 2px solid crimson;
font-size: 2rem;
text-transform: uppercase;
letter-spacing: .1rem;
margin-top: 30px;
transition: .3s ease ;
transition-property: background-color, color;
}
#hero .cta:hover{
color: white;
background-color: crimson;

}
 .cta{
    display: inline-block;
    padding: 10px 30px;
    color: crimson;
    background-color: transparent;
    border: 2px solid crimson;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 30px;
    transition: .3s ease ;
    transition-property: background-color, color;
    }
    .cta:hover{
    color: white;
    background-color: crimson;
    
    }
/* End Hero Section*/


/* Services Section */
#services{}
.service-top{
   width: 50%;


}

#services .services{
flex-direction: column;
text-align: center;
max-width: 1500px;
margin: 0 auto;
padding: 100px 0;

} 
.section-title{
 
    color: green;
    text-align: center;
   padding-top: 50px;
   padding-left: 90%;
   font-style: arial;
   font-size: 400%;
   padding-bottom: none;
   font-family: monospace;
   max-width: 100%;

}
.nahid{
 font-size: 1.8rem;
 line-height: none;
 text-align: left;
 padding-bottom: 100px;
line-height: 2.5rem;


}
#services .section-title span{

color: crimson;

}
#services .service-top p{
font-size: 1.4rem;
margin-top: 5px;
line-height: 2.5rem;
font-weight: 300;
letter-spacing: .05rem;

}
services .service-bottom{
display: flex;
align-items: center;
justify-content: center;
flex-wrap: wrap;


}
#services .service-item{
flex-basis: 80%;
display: flex;
align-items: flex-start;
justify-content: center;
flex-direction: column;
padding: 30px;
border-radius: 60px;
background-image: url(img/banner\ 2.jpg);
background-size: cover;
margin: 10px 5%;
text-color: white;


}
#services .service-item::after{
content: ;
position: absolute;
left: 0;
top: 0;
height: 100%;
width: 100%;
background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
opacity: .2;
z-index: -1;


}
.services .col-right .icon{
height: 80px;
width: 80px;
margin-bottom: 20px;

}
#services .service-item h2{
color: darkmagenta;
text-align: left;
font-size: 2rem;
margin-bottom: 10px;

}
#servicess .service-item p,b{
color: white;
text-align: left;
font-size: 1.5rem;
line-height: 3rem;

}

/* End Services Section */


/* Projects section*/
#projects .projects{
flex-direction: column;
max-width: 1200px;
margin-bottom: 0 auto;
padding: 100px 0;

}
#projects .projects-header{
    margin-bottom: 60px;
    text-align: center;
}
#projects .all-projects{
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;



}
#projects .projects-item{
    display: flex;
    align-items: center;
justify-content: center;
flex-direction: column;
width: 80%;
margin: 20px auto;
overflow: hidden;
border-radius: 10px;


}
#projects .project-info{
 padding: 30px;
flex-basis: 50%;
height: 100%;
display: flex;
align-items: flex-start;
justify-content: center;
flex-direction: column;
background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
color: white;


}
#projects .project-info h1{
font-size: 4rem;
font-weight: 500;
padding-bottom: 20px;
}
#projects .project-info h2{
    font-size: 2rem;
    font-weight: 500;
    padding-bottom: 10px;
    color: crimson;
    }
    #projects .project-info p{
        font-size: 1.5rem;
        font-weight: 500;
        padding-bottom: 10px;
        line-height: 3rem;

        }
        #projects .projects-img{

flex-basis: 50%;
height: 300px;
overflow: hidden;

        }
       #projects .project-img:after{
           content: "";
           position: absolute;
           left: 0;
           top: 0;
           height: 100%;
           width: 100%;
           
            background-color: black;
            opacity: .7;




        
       }
        



/* End Projects section*/


/* About Section*/
#about .about{
flex-direction: column-reverse;
text-align: center;
max-width: 1200px;
margin: 0 auto;
padding: 100px 20px;

}
#about .col-left{
width: 250px;
height: 360px;

}
#about .col-right{

    width: 100%;


}
#about .col-right h2{

    font-size: 1.8rem;
font-weight: 500;
letter-spacing: .2rem;

margin-bottom: 10px;

}
#about .col-right p{

    font-size: 1.8rem;
font-weight: 500;
letter-spacing: .1rem;

margin-bottom: 40px;

}
#about .col-right .cta{

color: black;
margin-bottom: 50px;
padding: 10px 20px;
font-size: 2rem;
}




/* End About Section*/


/*Contact section*/
#contact .contact{

flex-direction: column;
max-width: 1200px;

margin: 0 auto;

}
#contact .contact-items{
width: 100%;
}
#contact .contact-item{

width: 80%;
padding: 30px;
text-align: center;
border-radius: 10px;
margin: 30px;
display: flex;
justify-content: center;
align-items: center;
box-shadow: 0px 0px 30px 0 #46343477;

}
#contact .contact-item:hover{

   
    box-shadow: 0px 0px 10px 0 #46343477;
    
    }

#contact .contact h1{
font-size: 20px;
font-style: normal;
text-align: center;
margin-bottom: 10px;

}
#contact .icon{
width: 70px;
margin: 0 auto;
margin-bottom: 10px;
}
/*End contact section*/


/*Footer section*/
#footer {
background-image: linear-gradient(60deg, #232527 0%, #171a1d 100%);

}
#footer .footer{
min-height: 300px;
flex-direction: column;
padding-top: 50px;
padding-bottom: 10px;

}
#footer h1{
    color: crimson;
    font-size: 30px;

}
#footer h2{
 color: white;
font-weight: 500;
font-size: 1.8rem;
letter-spacing: .1rem;
margin-top: 10px;
margin-bottom: 10px;

}
#footer .social-icon{
display: flex;
margin-bottom: 25px;
}
#footer .social-item{
height: 50px;
width: 50px;
margin: 0 35px;
padding: 20px;
}

#footer .social-item img{
    filter:grayscale(1);
}
#footer .social-item:hover img{
    filter: grayscale(0);
}
#footer p{
color: white;
font-size: 1.3rem;
flex-direction: row;
position: absolute;
}
/*Footer section*/


/*Keyframes */
@keyframes text_reveal_box{
50%{
width: 100%;
left: 0;

}
100%{
width: 0;
left: 100%;
    
}
}
@keyframes text_reveal{
100%{
    color: white;
}
@keyframes text_reveal_name{
    100%{
        color: crimson;
        font-weight: 500;
        
       
    }

}





/* End Keyframes */

/* Media Query For Tablet*/
@media only screen and (min-width: 768px{
.cta{
font-size:2.5rem;
padding: 20px 60px;


}
h1  .section-title{
font-size: 6rem;

}
#hero h1{
font-size: 7rem;

}



/* Service section */
#services .service-bottom .service-item{
flex-basis: 45%;
margin: 1.5%;
padding: 30px;
}

/*End service section*/
}